header{
    text-align: center;
}
.navbar{
    width: 100%;
    background: aqua;
}

.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    margin: 15px;
}
.navbar ul li a{
    width: 70px;
    height: 15px;
}

.navbar ul li a:hover{
    background: #fff;
}

