@font-face{
    font-family: 'magical story';
    src: url(../font/Magical\ Story.ttf);
}
body {
    font-family: 'magical story';
}
.navbar-brand {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
#testimonial {
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align:center;
    margin-top: 40px;
}
#contact {
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    flex-wrap: wrap;
}
